<h1>Category List</h1>
<a class="btn btn-primary mb-3" asp-controller="Category" asp-action="Create">Create New Category</a>
<partial name="_Notification" />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>Order</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>@category.DisplayOrder</td>
                <td>
                    <a class="btn btn-info" asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id">Edit</a>
                    <a class="btn btn-danger" asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>